<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidartdemo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <permission
        android:name="com.example.androidartdemo.permission.ACCESS_BOOK_SERVICE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.androidartdemo.permission.ACCESS_BOOK_PROVIDER"
        android:protectionLevel="normal" />

    <uses-permission android:name="com.example.androidartproject.permission.ACCESS_BOOK_SERVICE" />
    <uses-permission android:name="com.example.androidartproject.permission.ACCESS_BOOK_PROVIDER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidArtProject">
        <activity android:name=".window.activity.WindowManagerActivity"></activity>
        <activity android:name=".remote.activity.NotificationShowActivity" />
        <activity android:name=".remote.activity.RemoteNotificationActivity" />
        <activity android:name=".remote.RemoteViewMainActivity" />
        <activity android:name=".activity.view.scrollconflict.SameDirectionConflictActivity" />
        <activity android:name=".activity.view.scrollconflict.DifferentDirectConflictActivity" />
        <activity android:name=".activity.view.ScrollConflictActivity" />
        <activity android:name=".activity.view.ViewScrollerActivity" />
        <activity android:name=".activity.ViewMainActivity" />
        <activity android:name=".activity.TextMessengerActivity" />
        <activity android:name=".activity.AidlMainActivity" />
        <activity android:name=".activity.BookProviderActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="com.example.androidproject.book.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.androidartproject.permission.ACCESS_BOOK_PROVIDER"
            android:process=":provider" />

        <service
            android:name=".server.BookManagerServer"
            android:enabled="true"
            android:exported="true"
            android:process="com.example.androidartproject.bookmanager.process">
            <intent-filter>
                <action android:name="com.example.androidartproject.bookmanager" />
            </intent-filter>
        </service>
        <service
            android:name=".server.MessengerServer"
            android:process=":messenger.service" />

        <receiver android:name=".remote.receiver.RemoteAppWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/remote_view_appwidget_provider_info" />

            <intent-filter>
                <action android:name="com.example.androidartdemo.remote.receiver.action.CLICK" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>